{% extends "base.html" %}

{% from "macros.html" import resultItem, spinner %}

{% from "status-bar.html" import statusBar %}

{% block content %}

{{ statusBar(4) }}

<div x-show="!loading" class="grid grid-cols-3 gap-x-4 min-h-0 h-full">

	<div class="col-span-1 gap-y-4 flex flex-col h-full items-stretch">

		<div class="flex-none p-4 border border-gray-300 rounded-lg flex flex-col gap-y-4">

			<div class="flex-none w-full text-center underline">Module Summary</div>

			<p>In approach selection, we finalize the subperiods and model structures for the analysis. If you are not satisfied with the results of EDA shown below, you can always explore the dataset further by clicking on "Change Point Detection" or "Trend Detection" in the status bar. Remember, <i>approach selection should always incorporate station-specific knowledge when possible</i>.</p>

		</div>

		<div class="grow p-4 border border-gray-300 rounded-lg flex flex-col gap-y-4">

			<div class="flex-none w-full text-center underline">Recommendations from EDA</div>

			<div>

				{% set pettitt = eda["change_point_detection"]["items"]["pettitt"] %} 
				{% set mks = eda["change_point_detection"]["items"]["mks"] %} 

				{% set change_year = pettitt.change_year %}
				{% set change_years = mks.change_df | map(attribute = "year") %} 

				<p class="font-semibold mb-2">Potential Change Points:</p> 
			 	<ul class="list-disc list-inside">
					{% if pettitt.reject %}
						<li>
							{{ change_year }} 
							(from Pettitt test, <i>p={{ pettitt.p_value }}</i>)
						</li>
					{% endif %}
					{% for year in change_years %}
						<li>
							{{ year }} 
							(from MKS test <i>p={{ mks.p_value }}</i>)
						</li>
					{% endfor %}
				</ul>

			</div>

			<div>

				<p class="font-semibold mb-2">Recommended Model Structures:</p>
				<ul class="list-disc list-inside">
					{% for block in eda.trend_detection %}
						<li>

							{% set start = block.period[0] %}
							{% set end = block.period[1] %}
							{% set location = "sens_mean" in block["items"].keys() %}
							{% set scale = "sens_variance" in block["items"].keys() %}

							{{ start }}-{{ end }}: 
							{% if location and scale %}
								<i>NS-FFA</i> (trend in mean, variability)
							{% elif location %}
								<i>NS-FFA</i> (trend in mean)
							{% elif scale %}
								<i>NS-FFA</i> (trend in variability)
							{% else %}
								<i>S-FFA</i>
							{% endif %}

						</li>
					{% endfor %}
				</ul>
			</div>

		</div>

	</div>

	<div class="col-span-2 p-4 flex flex-col h-full items-stretch border border-gray-300 rounded-lg min-h-0">

		<div class="flex-none w-full text-center underline mb-6">Approach Selection</div>

		<div class="grow flex flex-col overflow-y-auto gap-y-8">

			<form
				class="flex-none flex flex-row items-center gap-x-2"
				method="POST"
				action="/approach-selection"
			>
				Enter split points:
				<input
					type="text"
					name="splits"
					class="border-b border-gray-300"
					value="{{ eda.splits | join(",") }}"
				/>
				<button
					type="submit"
					class="py-1 px-4 bg-sky-600 text-white rounded-lg"
				>
					Confirm
				</button>
			</form>

			{% set breaks = [(eda.years | min)] + eda.splits + [(eda.years | max)] %}

			<form
				class="grow flex flex-col gap-y-8"
				method="POST"
				action="/distribution-selection"
			>

				{% for i in range(breaks | length - 1) %}

				<div x-data="{
					location: false,
					scale: false,
					disabled: true,
					ensureOneChecked(changed) {
						if (!this.location &amp;&amp; !this.scale) {
							if (changed === 'location') this.scale = true;
							if (changed === 'scale') this.location = true;
						}
					},
					deactivate() {
						this.location = false;
						this.scale = false;
						this.disabled = true;
					},
					reactivate() {
						this.location = true;
						this.scale = false;
						this.disabled = false;
					}
				}">

					<div class="flex flex-row items-center gap-x-2 mb-4">
						{{ breaks[i] }}-{{ breaks[i + 1] }}:
						<div class="border border-gray-300 rounded-lg w-48 flex flex-row cursor-pointer">
							<div
								@click="deactivate"
								x-bind:class="disabled ? 'bg-sky-600 text-white' : 'bg-white'"
								class="py-1 w-1/2 text-center rounded-l-lg border-r border-gray-300"
							>S-FFA</div>
							<div
								@click="reactivate"
								x-bind:class="! disabled ? 'bg-sky-600 text-white' : 'bg-white'"
								class="py-1 w-1/2 text-center rounded-r-lg"
							>NS-FFA</div>
						</div>
					</div>

					<div class="flex flex-col">
						<label>
							<input
								type="checkbox"
								name="{{ i }}-location"
								class="mr-1"
								:disabled="disabled"
								x-model="location"
								@change="ensureOneChecked('location')"
							>
							<span x-bind:class="disabled ? 'line-through' : ''" class="">
								Trend in location parameter (mean)
							</span>
						</label>
						<label>
							<input
								type="checkbox"
								name="{{ i }}-scale"
								class="mr-1"
								:disabled="disabled"
								x-model="scale"
								@change="ensureOneChecked('scale')"
							>
							<span x-bind:class="disabled ? 'line-through' : ''" class="">
								Trend in scale parameter (variability)
							</span>
						</label>
					</div>
				</div>

				{% endfor %}

				<div class="grow flex flex-row items-end justify-end">
					<button
						type="submit"
						class="px-4 py-2 bg-green-600 text-white rounded-lg shadow"
					>
						Confirm Approach
					</button>
				</div>

			</form>

		</div>

	</div>

</div>

{% endblock content %}


