{% extends "module.html" %}

{% from "status_bar.html" import statusBar %}
{% from "control_bar.html" import controlBar %}

{% block status %} 
	{{ statusBar(1, 1) }} 
{% endblock %}

{% set start = results[0].start %}
{% set end = results[0].end %}
{% set pettitt = results[0].tests.pettitt %} 
{% set mks = results[0].tests.mks %} 

{% block module_left %} 

<div class="grow p-4 border-2 border-gray-600 rounded-lg flex flex-col gap-y-2">

	<div class="flex-none w-full text-center underline">Select Split Points</div>

	<div> 

		{% if pettitt.reject or mks.reject %} 
			<p>The split points detected during EDA are listed below:</p>
			<ul class="list-disc list-inside mt-2">
				{% for cp in pettitt.change_points %}
					{% set p_value = "=%.3f" % cp.p_value if cp.p_value > 0.001 else "<0.001" %}
					<li>{{ cp.year }} (from Pettitt test, <i>p{{ p_value }}</i>)</li>
				{% endfor %}
				{% for cp in mks.change_points %}
					{% set p_value = "=%.3f" % cp.p_value if cp.p_value > 0.001 else "<0.001" %}
					<li>{{ cp.year }} (from MKS test, <i>p{{ p_value }}</i>)</li>
				{% endfor %}
			</ul>
		{% else %}
			<p>No split points were detected during EDA.</p>
		{% endif %}

	</div>

	<form
		method="POST"
		action="/trend-detection"
		id="change-point-detection"
	>
		Enter zero or more split points for trend detection as a comma-separated list of years:
		<input 
			class="border-2 border-sky-600 ml-1 w-40 rounded-md px-1" 
			type="text" 
			name="splits"
		/>
	</form>

</div>

<div class="p-4 border border-gray-300 rounded-lg flex flex-col gap-y-2">

	<div class="flex-none w-full text-center underline">Module Summary</div>

	<p>A change point is an abrupt shift or temporal pattern switch (e.g. beginning of a trend) in a time series. Change points indicate inhomogeneous periods, meaning a single model may not represent the entire record adequately. Instead, piecewise analysis should be applied to each homogeneous subperiod. <i>Always use case-specific knowledge about the station if possible.</i></p>

</div>

{% endblock %}

{% block controls %}
	{{ controlBar(
		"change-point-detection",
		"trend-detection",
		current_message = "Detecting change points...",
		next_message = "Detecting trends...",
		form = True
	) }}
{% endblock %}

{% block module_right %} 

<div class="flex flex-col w-full h-full gap-y-2">
	{% with start=start, end=end, options=options, result=pettitt %}

		<!-- Improved p-value formatting -->
		{% if result.p_value > 0.001 %}
			{% set p_value = "%.3f" % result.p_value %}
		{% else %}
			{% set p_value = "<0.001" %}
		{% endif %}

		{% include "items/pettitt.html" %}

	{% endwith %}
	{% with start=start, end=end, options=options, result=mks %}

		<!-- Improved p-value formatting -->
		{% if result.p_value > 0.001 %}
			{% set p_value = "%.3f" % result.p_value %}
		{% else %}
			{% set p_value = "<0.001" %}
		{% endif %}

		{% include "items/mks.html" %}
	{% endwith %}
</div>

{% endblock %}


