{% extends "module.html" %}

{% from "status_bar.html" import statusBar %}
{% from "control_bar.html" import controlBar %}

{% block status %} 
	{{ statusBar(9) }} 
{% endblock %}

{% block module_left %}

<div 
	class="flex flex-col w-full rounded-lg border-gray-600 border-2 p-4 grow"
>
	<div class="font-semibold mb-4">Download report as:</div>
	<ul class="list-disc list-inside ml-2">
		<li><a href="/report-html" class="text-sky-600 underline">HTML</a></li>
		<li><a href="" class="text-sky-600 underline">PDF</a> (Coming Soon)</li>
		<li><a href="" class="text-sky-600 underline">Markdown</a> (Coming Soon)</li>
		<li><a href="" class="text-sky-600 underline">JSON</a> (Coming Soon)</li>
	</ul>
</div>

{% endblock %}

{% block controls %}
	{{ controlBar("report-generation", "", finish = True) }}
{% endblock %}

{% block module_right %}

<div class="flex flex-col w-full h-full gap-y-2">

	{% set headers = [] %}

	{% for block in results %}

		{% if block.name not in headers %}
			{% set headers = headers.append(block.name) %}
			<div class="underline text-center mt-2">{{ block.name }}</div>
		{% endif %}

		{% if block.name in ["Change Point Detection", "Trend Detection"] %}

			{% for key, value in block.tests.items() %} 
				{% with start=block.start, end=block.end, result=value, options=options %}

					<!-- Improved p-value formatting -->
					{% if "p_value" not in value %}
						{% set p_value = "" %}
					{% elif value.p_value > 0.001 %}
						{% set p_value = "%.3f" % value.p_value %}
					{% else %}
						{% set p_value = "<0.001" %}
					{% endif %}

					{% include "items/" ~ key ~ ".html" %}		

				{% endwith %}
			{% endfor %}

		{% elif "selection" in block %}

			{% with start=block.start, end=block.end, result=block.selection %}
				{% include "items/selection.html" %}
			{% endwith %}
			
		{% elif "estimation" in block %}

			{% with start=block.start, end=block.end, result=block.estimation %}
				{% include "items/estimation.html" %}
			{% endwith %}

		{% elif "uncertainty" in block %}

			{% with start=block.start, end=block.end, result=block.uncertainty %}
				{% include "items/uncertainty.html" %}
			{% endwith %}

		{% elif "assessment" in block %}

			{% with start=block.start, end=block.end, result=block.assessment %}
				{% include "items/assessment.html" %}
			{% endwith %}

		{% endif %}
		
	{% endfor %}

</div>

{% endblock %}
