{% extends "module.html" %}

{% from "macros.html" import resultItem %}

{% from "status-bar.html" import statusBar %}

{% block status %} {{ statusBar(7) }} {% endblock %}

{% block module_content %}

<div class="flex-none w-full text-center underline">Module Results</div>
<div class="flex flex-col w-full h-full gap-y-2">
	{% for block in results %}
		{{ resultItem("uncertainty", block.uncertainty, block.period) }}
	{% endfor %}
</div>

{% endblock %}

{% block module_summary %}

<div class="flex-none w-full text-center underline">Module Summary</div>

<p>Given a fitted probability model, this module estimates the return levels and confidence intervals. The <i>return level</i> is the magnitude of the annual maximum event, measured in m<sup>3</sup>/s. The <i>return period</i> of a flood is the expected number of years between annual maximum events of equal or greater magnitude.</p>

{% endblock %}

{% block module_results %}

<div class="flex-none w-full text-center underline">Review Results</div>

<form 
	action="/model-assessment"
	method="POST"
	class="grow flex flex-col"
>
	<div class="grow"> 

	</div>

	<div class="flex-none w-full flex flex-row justify-end gap-x-2">
		<button 
			type="submit"
			class="px-4 py-2 bg-green-600 text-white rounded-lg shadow"
		>
			Confirm Parameters
		</a>
	</div>
</form>

{% endblock %}
