{% extends "module.html" %}

{% from "status-bar.html" import statusBar %}

{% from "macros.html" import spinner %}

{% block status %} {{ statusBar(1) }} {% endblock %}

{% block module_content %}

<div 
	class="w-full h-full flex flex-col items-center gap-y-4 overflow-y-auto" 
	x-data="{% if local %} {'local': true} {% else %} {'local': false} {% endif %}"
>

	<div class="w-full flex flex-row border border-gray-300 rounded-lg text-center">
		<a 
			class="rounded-l-lg w-1/2 py-1 border-r border-gray-300 transform transition duration-300 ease-in-out hover:bg-gray-300"
			x-on:click="local = false; if (map) setTimeout(() => map.invalidateSize(), 100);"
			x-bind:class="local ? '' : 'underline'"
		>
			Select a Hydrometric Station
		</a>
		<a 
			x-on:click="local = true"
			x-bind:class="local ? 'underline' : ''"
			class="rounded-r-lg w-1/2 py-1 transform transition duration-300 ease-in-out hover:bg-gray-300"
		>
			Upload a CSV File
		</a>
	</div>

	<div class="w-full h-full border border-gray-300 rounded-lg">

		<!-- Select a Station -->
		<div 
			id="map" 
			x-bind:class="local ? 'hidden' : ''"
			class="h-full rounded-lg"
		>

		</div>

		<!-- Upload a CSV File	-->
		<form 
			x-bind:class="local ? '' : 'hidden'"
			class="h-full flex flex-row items-center justify-center gap-x-2"
			action="/dataset-local" 
			method="post"
			enctype="multipart/form-data"
		>
			<div x-data="{fileName: ''}" class="flex flex-row gap-x-2">
				<label
					for="file-upload"
					class="cursor-pointer inline-flex items-center px-4 bg-gray-600 text-white font-medium rounded-lg h-10 shadow"
				>
					Browse
				</label>
				<input
					id="file-upload"
					class="sr-only"
					type="file"
					name="file"
					@change="fileName = $event.target.files[0]?.name"
				>
				<div x-text="fileName" class="w-52 text-gray-700 border border-gray-300 rounded-lg flex flex-row items-center px-2"></div>
			</div>
			<button
				type="submit"
				class="h-10 px-4 bg-green-600 font-medium text-white rounded-lg max-w-md shadow"
			>
				Upload
			</button>
		</form>

	</div>

</div>

{% endblock %}

{% block module_summary %}

<div class="flex-none w-full text-center underline">Module Summary</div>

<p>The FFA framework uses annual maximum series data. The data for stations on the map is provided by <a href="https://www.canada.ca/en/environment-climate-change/services/water-overview/quantity/monitoring/survey/data-products-services/national-archive-hydat.html" class="underline text-sky-600">HYDAT</a>, which measures streamflow in m<sup>3</sup>/s.</p>

{% endblock %}

{% block module_results %}

<div class="flex-none w-full text-center underline">Dataset Overview</div>

<div id="01-sidebar" class="grow">

	{% if not summary %}
		<p>No dataset selected.</p>			
	{% elif local %}
		{% include "01-sidebar-local.html" %}
	{% else %}
		{% include "01-sidebar-geomet.html" %}
	{% endif %}

</div>

<div class="flex-none w-full flex flex-row justify-end gap-x-2">
	<a 
		class="px-4 py-2 bg-green-600 text-sm font-medium text-white rounded-lg shadow" 
		@click="loading = true;"
		href="/change-point-detection"
	>
		Use Dataset
	</a>
</div>

{% endblock %}
