<p><span class="font-semibold">File</span>: {{ summary.file_name }}</p>

<ul class="list-disc list-inside mt-2">
	<li><span class="font-semibold">Years</span>: {{ summary.year_min }}-{{ summary.year_max }}</li>
	<li><span class="font-semibold">Minimum</span>: {{ summary.data_min }}</li>
	<li><span class="font-semibold">Median</span>: {{ summary.data_median }}</li>			
	<li><span class="font-semibold">Maximum</span>: {{ summary.data_max }}</li>
	<li><span class="font-semibold">Missing Values</span>: {{ summary.data_missing }}</li>
</ul>
