<div class="grow flex flex-col overflow-y-auto">

	<form 
		class="flex flex-row items-center gap-x-2"
		method="POST"
		action="/approach-selection" 
	>
		Enter split points:
		<input 
			type="text" 
			name="splits"
			class="border-b border-gray-300" 
			value="{{ eda.splits | join(",") }}" 
		/>
		<button
			type="submit"
			class="py-1 px-4 bg-sky-600 text-white rounded-lg"
		>
			Confirm	
		</button>
	</form>

	{% set breaks = [(eda.years | min)] + eda.splits + [(eda.years | max)] %}

	<form
		class="flex flex-col gap-y-8"
		method="POST"
		action="/distribution-selection"
	>

		{% for i in range(breaks | length - 1) %}

		<div x-data="{
			location: false,
			scale: false,
			disabled: true,
			ensureOneChecked(changed) {
				if (!this.location &amp;&amp; !this.scale) {
					if (changed === 'location') this.scale = true;
					if (changed === 'scale') this.location = true;
				}
			},
			deactivate() {
				this.location = false;
				this.scale = false;
				this.disabled = true;
			},
			reactivate() {
				this.location = true;
				this.scale = false;
				this.disabled = false;
			}
		}">

			<div class="flex flex-row items-center gap-x-2 mb-4">
				{{ breaks[i] }}-{{ breaks[i + 1] }}:
				<div class="border border-gray-300 rounded-lg w-48 flex flex-row cursor-pointer">
					<div 
						@click="deactivate" 
						x-bind:class="disabled ? 'bg-sky-600 text-white' : 'bg-white'" 
						class="py-1 w-1/2 text-center rounded-l-lg border-r border-gray-300"
					>S-FFA</div>
					<div 
						@click="reactivate" 
						x-bind:class="! disabled ? 'bg-sky-600 text-white' : 'bg-white'"
						class="py-1 w-1/2 text-center rounded-r-lg"
					>NS-FFA</div>
				</div>
			</div>

			<div class="flex flex-col">
				<label>
					<input 
						type="checkbox" 
						name="{{ i }}-location"
						class="mr-1" 
						:disabled="disabled" 
						x-model="location" 
						@change="ensureOneChecked('location')"
					>
					<span x-bind:class="disabled ? 'line-through' : ''" class="">
						Trend in location parameter (mean)
					</span>
				</label>
				<label>
					<input 
						type="checkbox" 
						name="{{ i }}-scale"
						class="mr-1" 
						:disabled="disabled" 
						x-model="scale" 
						@change="ensureOneChecked('scale')"
					>
					<span x-bind:class="disabled ? 'line-through' : ''" class="">
						Trend in scale parameter (variability)
					</span>
				</label>
			</div>
		</div>

		{% endfor %}

		<div class="flex-none flex flex-row justify-end">
			<button 
				type="submit"
				class="px-4 py-2 bg-green-600 text-white rounded-lg shadow"
			>
				Confirm Approach
			</button>
		</div>

	</form>

</div>
