{% extends "base.html" %}

{% block content %}

<div class="max-w-xl mx-auto flex flex-col h-full">

  <h1 class="text-2xl font-bold mb-4">Flood Frequency Analysis Framework</h1>

  <div class="text-l leading-7 grow">

    <p class="mb-4">This is a web interface for the flood frequency analysis (FFA) framework developed in <a class="underline text-sky-600" href="https://doi.org/10.1016/j.envsoft.2024.105940">Vidrio-Sahagun et al. 2024</a>. The framework provides tools for both stationary and nonstationary FFA as well as exploratory data analysis. In addition to this website, the framework can be accessed through a <a class="underline text-sky-600" href="https://CRAN.R-project.org/package=ffaframework">R package</a>. For more information about the framework, see <a class="underline text-sky-600" href="https://rileywheadon.github.io/ffa-framework">here</a>.</p>

    <p>To use this website, click on the “Get Started” button below. Then, you will be guided through the following five modules:</p>
    <ul class="list-disc list-inside ml-2 mt-2">
  	  <li>Dataset selection</li>
  	  <li>Exploratory data analysis</li>
  	  <li>Approach selection</li>
  	  <li>Frequency analysis</li>
  	  <li>Report generation</li>
    </ul>

		<br> 
		
		<p class="mb-4">This work was funded by the Flood Hazard Identification and Mapping Program of Environment and Climate Change Canada, as well as the Canada Research Chair (Tier 1) awarded to Dr. Alain Pietroniro.</p>

		<p class="text-red-600"><span class="font-semibold">ATTENTION</span>: We strongly recommended screening data for missing entries and low/high outliers before using this framework. The <a class="text-sky-600 underline" href="https://CRAN.R-project.org/package=CSHShydRology">'CSHShydRology'</a> and <a class="text-sky-600 underline" href="https://CRAN.R-project.org/package=tidyhydat">'tidyhydat'</a> R packages can help with this.</p>
  
  </div>

	<div class="w-full flex flex-row justify-end">
		<a 
			class="bg-green-600 text-white rounded-lg px-4 py-2 shadow" 
			href="/dataset-selection?repeat=true"
		>
			Get Started
		</a>
	</div>

</div>

{% endblock %}
