{% extends "base.html" %}

{% from "macros.html" import spinner %}

{% block content %}

{% block status %} {% endblock %}

{{ spinner() }}

<div x-show="!loading" class="grid grid-cols-3 gap-x-4 min-h-0 h-full">

	<div class="col-span-2 flex flex-col gap-4 h-full items-center overflow-y-auto">

		{% block module_left %} {% endblock %}

	</div>

	<div class="col-span-1 flex flex-col gap-4 h-full items-stretch">

		<div class="grow flex flex-col gap-y-4">

			{% block module_right %} {% endblock %}

		</div>

		{% block controls %} {% endblock %}

	</div>

</div>

{% endblock %}

