{% extends "base.html" %}

{% from "macros.html" import spinner %}

{% block content %}

{% block status %} {% endblock %}

{{ spinner() }}

<div x-show="!loading" class="grid grid-cols-3 gap-x-4 min-h-0 h-full">

	<div class="col-span-2 flex flex-col gap-4 h-full items-center overflow-y-auto">

		{% block module_content %} {% endblock %}

	</div>

	<div class="col-span-1 flex flex-col gap-4 h-full items-stretch">

		<div class="flex-none flex flex-col border border-gray-300 rounded-lg p-4 gap-y-2">

			{% block module_summary %} {% endblock %}

		</div>

		<div class="grow flex flex-col border border-gray-300 rounded-lg p-4 gap-y-2">

			{% block module_results %} {% endblock %}

		</div>

	</div>

</div>

{% endblock %}

