{% extends "items/item_base.html" %}

{% block item_header %}
	<b>Kwiatkowski-Phillips-Schmidt-Shin (KPSS) Test</b> ({{ start }}-{{ end }})
{% endblock %}

{% block item_content %}

	<!-- Override default p-value truncation -->	
	{% if result.p_value <= 0.01 %}
		{% set p_value = "<0.01" %}
	{% elif result.p_value >= 0.10 %}
		{% set p_value = ">0.10" %}
	{% endif %}

	<ul class="list-disc list-inside ml-2">
		<li>The KPSS test yielded a p-value of {{ p_value }}.</li>
		{% if result.reject %}
			<li>At a significance level of {{ options.alpha }}, we reject the null hypothesis. </li>
			<li>Therefore, there is evidence of a unit root (stochastic trend) in the data.</li>
		{% else %}
			<li>At a significance level of {{ options.alpha }}, we fail to reject the null hypothesis. </li>
			<li>Therefore, there is evidence of a deterministic linear trend in the data.</li>
		{% endif %}
	</ul>

	<div class="border-b border-gray-300 my-4"></div>

	<div class="mb-2">Additional details:</div>

	<ul class="list-disc list-inside ml-2">
		<li>Null Hypothesis: {{ result.null_hypothesis }}</li>
		<li>Alternative Hypothesis: {{ result.alternative_hypothesis }}</li>
	</ul>

	<div class="mt-2">For more information about the KPSS test, see <a href="https://rileywheadon.github.io/ffa-framework/articles/eda-trend-ams-mean.html#kpss-test" class="underline text-sky-600">here</a>.</div>

{% endblock %}
