{% extends "items/item_base.html" %}

{% block item_header %}
	<b>{{ result.method }} Distribution Selection</b> ({{ start }}-{{ end }})
{% endblock %}

{% block item_content %}

	<div class="flex flex-row items-center">
		<img 
				class="max-w-2xl self-center"
				src="{{ result.plot }}"
				alt="Embedded Image"
		/>

		<table class="w-60 text-center table-auto mt-4">
			<tr>
				<td class="py-1 border border-gray-300 underline">Distribution</td>
				<td class="py-1 border border-gray-300 underline">Metric</td>
			</tr>
			{% for key, value in result.metrics.items() %}
				<tr>
					<td class="py-1 border border-gray-300">{{ key }}</td>
					<td class="py-1 border border-gray-300">{{ value }}</td>
				</tr>
			{% endfor %}
		</table>
	</div>

	<div class="border-b border-gray-300 my-4"></div>

	<div>For more information about distribution selection, see <a href="https://rileywheadon.github.io/ffa-framework/articles/ffa-model-selection.html" class="underline text-sky-600">here</a>.</div>
	
{% endblock %}
